<!DOCTYPE html>
<html>
  <head>
    <title>Bookers22</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <% if user_signed_in? %>
                <li>
                  <!--<a href="books" class="fas fa-home nav-link text-light"> Home</a>-->
                  <%= link_to user_path(current_user), class: "nav-link text-light" do %>
                    <i class="fas fa-home"></i> Home
                  <% end %>
                </li>
    </header>
    <%= yield %>
  </body>
</html>
